@theme inline {
  --animate-in: enter 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-out: exit 0.2s cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes enter {
    from {
      opacity: var(--tw-enter-opacity, 1);
      transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), 1) rotate(var(--tw-enter-rotate, 0));
    }
  }
  @keyframes exit {
    to {
      opacity: var(--tw-exit-opacity, 1);
      transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), 1) rotate(var(--tw-exit-rotate, 0));
    }
  }
}

@utility fade-in {
  --tw-enter-opacity: 0;
}

@utility fade-out {
  --tw-exit-opacity: 0;
}

@utility slide-in-from-top-2 {
  --tw-enter-translate-y: -0.5rem;
}

@utility slide-in-from-top-3 {
  --tw-enter-translate-y: -0.75rem;
}

@utility slide-out-to-top-2 {
  --tw-exit-translate-y: -0.5rem;
}
